body{
    border: 3px solid brown;
    margin: 10px;
    background-color: darkgray;
}
.box{
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 5px solid black;
    margin: 20px;
    background-color: lightgray;
}
body p{
    width: 238px;
    height: 119px;
    padding: 5px;
    border: 2px solid black;
    color: blanchedalmond;
}
section > p{
    color: red;
}
