body{
    border: 3px solid brown;
    margin: 10px;
    background-color: darkgray;
}
.box{
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 5px solid black;
    margin: 20px;
    background-color: lightgray;
}
h1{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
